.card {
  position: relative;
}

.card__delete-btn {
  position: absolute;
  background-image: url(../images/binState=Default.svg);
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  border: 0;
  padding: 0;
  margin: 0;
  top: 10px;
  left: 371px;
  width: 32px;
  height: 32px;
}

.card__delete-btn:hover {
  background-image: url(../images/binState=Hover.svg);
  cursor: pointer;
  opacity: 1;
}

.card__image {
  object-fit: cover;
  vertical-align: bottom;
  width: 100%;
  height: 100%;
  max-height: 413px;
  border-radius: 8px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.card__title {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  max-width: 350px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* In order to resize the heart
image, I contained it and centered it
inside the button as shown below: */

.card__like-btn {
  display: flex;
  background-image: url(../images/like_icon.svg);
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  padding: 0;
  margin: 0;
  opacity: 0.4;
  height: 20px;
  width: 23px;
}

.card__like-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.card__like-btn_active {
  background-image: url(../images/State=Liked.svg);
  opacity: 1;
}

.card__like-btn_active:hover {
  opacity: 0.4;
}

@media screen and (max-width: 630px) {
  .card__delete-btn {
    left: 246px;
  }
  .card__image {
    max-height: 288px;
    width: 288px;
    max-width: 100%;
  }

  .card__title {
    max-width: 250px;
    font-size: 16px;
    line-height: 1;
  }

  .card__like-btn {
    height: 18px;
    width: 20px;
  }
}
