.modal {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s linear 0.2s, opacity 0.4s linear;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Originally had width: 100% and height: 100%*,
  but setting sides to 0 works too*/
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999; /*Added this to prevent page buttons from showing*/
  padding: 0 12px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  display: flex;
  flex-direction: column;
  padding: 32px 50px;
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
}

.modal__row {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.modal__edit-profile-text {
  color: #212121;
  margin: 0;
  font-size: 32px;
  font-weight: 500;
  line-height: 100%;
}

.modal__close-btn {
  background-image: url(../images/close_button.svg);
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 40%;
  width: 40px;
  height: 40px;
  border: none;
  padding: 0;
}

.modal__close-btn:hover {
  cursor: pointer;
  color: #212121;
  opacity: 100%;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  padding-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
  color: rgba(33, 33, 33, 0.7);
}

.modal__input {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  padding: 16px 0 16px 12px;
  border-radius: 8px;
  margin-bottom: 32px;
  border: 1px solid rgba(33, 33, 33, 0.4);
}

.modal__input::placeholder {
  font-size: 20px;
  font-weight: 500;
  color: rgba(33, 33, 33, 0.3);
}

.modal__input:hover {
  cursor: pointer;
  border: 1px solid rgba(33, 33, 33);
}

.modal__save-btn {
  max-width: 156px;
  max-height: 52px;
  padding: 18px 58px;
  border-radius: 8px;
  background-color: #212121;
  border: none;
  font-size: 16px;
  font-weight: 500;
  color: #fcf5e5;
}

@media screen and (max-width: 630px) {
  .modal__container {
    box-sizing: border-box;
    max-width: 300px;
    padding: 12px 12px;
  }

  .modal__row {
    max-width: 276px;
    margin-bottom: 24px;
  }

  .modal__edit-profile-text {
    font-size: 20px;
  }

  .modal__input {
    margin-bottom: 24px;
  }

  .modal__input::placeholder {
    font-size: 16px;
  }

  .modal__save-btn {
    margin: 0 auto;
    max-width: 276px;
    width: 100%;
  }

  .modal__form {
    max-width: 276px;
  }
}
