.page {
  background-color: #fcf5e5;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

/* The bottom mix is used on both the profile and
cards sections */
.page__alignment {
  max-width: 1280px;
  margin: 0 auto;
}
